header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

header img {
    width: 100px;
}

.main-content {
    margin-top: 100px;
    margin-bottom: 80px;
    height: calc(100vh - 180px);
    overflow-y: auto;
}

.card img {
    max-height: 200px;
    object-fit: contain;
}

.card .card-text i {
    font-size: 2rem;
    color: #444;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 10px;

}